<!DOCTYPE html>

<html lang="en" ng-app="mSearch">
	<head>
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="static/css/style.css"/>
	<script src="http://platform.tumblr.com/v1/share.js"></script>
	</head>
	<body ng-controller="MSController">
	 <script>
	 
	</script>
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="">Movie <b>search</b></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <form name="myForm" class="navbar-form navbar-left" role="search" ng-submit="validateForm(searchText['key'], myForm)">
				 <div class="col-lg-6">
					<div class="input-group">
					  <input name="movie_input" type="text"
					    ng-mouseover="messages.showHelp = true"
							ng-mouseleave="messages.showHelp = false"
					    class="form-control"
							ng-model="searchText.title"
							placeholder="Movie Title"
							required>
						<div class="seachHistory" ng-show="myForm.$error.maxlength">
						Type in a movie title!</div>
						<span class="alert alert-warning message" ng-show="messages.showHelp">
						Type in a movie title!<br></span>
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default ">Submit</button>
						</div>
					</div>
				</div>
			  </form>

			  <ul class="nav navbar-nav navbar-right seachHistory">
					<li class="dropdown">
					  <a href="" class="dropdown-toggle" ng-show="history.lastSearchedArray.length > 0" data-toggle="dropdown">Search History <span class="caret"></span></a>
					  <ul class="dropdown-menu" role="menu">
					      <li><a ng-repeat="hist in history.lastSearchedArray" ng-bind="hist" ng-click="validateForm(hist, myForm, 'hist')"></a></li>
					  </ul>
					</li>

				</ul>

				<div class="btn-toolbar pull-right social" role="toolbar" aria-label="...">
					<div class="btn-group" role="group" fb-like></div>
					<div class="btn-group" role="group">
						<a href="http://www.tumblr.com/share" title="Share on Tumblr"
						style="display:inline-block; text-indent:-9999px; overflow:hidden; width:20px;
						height:20px; background:url('https://platform.tumblr.com/v1/share_4.png')
						top left no-repeat transparent;">
						Share on Tumblr</a>
					</div>

					<div class="btn-group" role="group" google-plus></div>
				</div>
			</div>
		  </div>
		</nav>
		<br clear="both">
		<br>
		<br>

		<div id="myCarousel" class="carousel slide center" ng-hide="searchText.title">

		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <h1 class="active item movieplaceholder">Movies Now In Theaters...
				<br>
				<img class="title-img" src="static/img/Movies.gif" alt="" />
				</h1>

					{% raw %}
				<div class="item " ng-repeat="movie in movieData" id="{{ movie.title }}">
							<br>
							<hr>
							<img class="imgs" ng-src="{{ movie.posters.detailed }}">
							<h1 ng-bind="movie.title"></h1>
							<div class="synopsis" ng-bind="movie.synopsis"></div>
							<br>
						{% endraw %}
				</div>

		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

	<div class="container-fluid" ng-show="searchText.title">

		  <div class="row-fluid">
				{% raw %}
				<div  ng-show="display.movies" >

				  <div class="center2" ng-repeat="movie in movieData | filter:searchText" id="{{ movie.title }}">
								<br>
								<img class="imgs" ng-src="{{ movie.posters.detailed }}"/>
								<h1 ng-bind="movie.title"></h1>
								<div ng-bind="movie.synopsis"></div>
				  </div>
					{% endraw %}
				</div>
			</div>
		</div>
		<br clear="both">
		<br clear="both">

		<br clear="both">
		<!-- <div ng-show="showNone" class="alert alert-danger" ng-bind="messages.noneFound"></div> -->
		<div id="footer">
			<p class="pull-right">
				Movie <b>search<b>
			</p>
		</div>
	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="static/js/angulike.js"></script>
	<script src="static/js/ms_controller.js"></script>
	<script src="static/js/ms_services.js"></script>

</html> 
