<!DOCTYPE html>

<html lang="en" ng-app="mSearch">
	<head>
		<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="static/css/style.css"/>


	</head>
	<body ng-controller="MSController">
		<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="">Movie <b>search</b></a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <form name="myForm" class="navbar-form navbar-left" role="search" ng-submit="validateForm(searchText['Serial Number Pattern'], myForm)">
				 <div class="col-lg-6">
					<div class="input-group">
					  <input name="movie_input" type="text"
					    ng-mouseover="messages.showHelp = true"
							ng-mouseleave="messages.showHelp = false"
					    class="form-control"
							ng-model="searchText.title"
							placeholder="Movie Title"
							required>
						<div class="seachHistory" ng-show="myForm.$error.maxlength">
						Type in a movie title!</div>
						<span class="alert alert-warning message" ng-show="messages.showHelp">
						Type in a movie title!<br></span>
						<div class="input-group-btn">
							<button type="submit" class="btn btn-default ">Submit</button>
						</div>
					</div>
				</div>
			  </form>

			  <ul class="nav navbar-nav navbar-right seachHistory">
				<li class="dropdown">
				  <a href="" class="dropdown-toggle" ng-show="history.lastSearchedArray.length > 0" data-toggle="dropdown">Search History <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a ng-repeat="hist in history.lastSearchedArray" ng-bind="hist" ng-click="validateForm(hist, myForm, 'hist')"></a></li>
				  </ul>
				</li>
			  </ul>

			  <!-- <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
				  <a href="" class="dropdown-toggle" data-toggle="dropdown"> Search <span class="caret"></span></a>
				  <ul class="dropdown-menu" role="menu">
					<li><a ng-click="display.rss = true; display.movies = false">NPR</a></li>
					<li><a ng-click="display.movies = true; display.rss = false">Movies</a></li>

					</li>
				  </ul>
				</li>
			  </ul> -->
			</div>
		  </div>
		</nav>


		<div class="container-fluid">

		  <div class="row-fluid">
				<div class="span2">
						<div class="sidebar">
							<div ng-repeat="movie in movieData">
								{% raw %}
									<a ng-href="#{{ movie.title }}" ng-bind="movie.title"></a>
									<hr>
								{% endraw %}
							</div>
						</div>
					</div>
				<div class="center" ng-show="display.movies" >
					{% raw %}
				  <div ng-repeat="movie in movieData | filter:searchText" id="{{ movie.title }}">
								<br>
								<img class="imgs" ng-src="{{ movie.posters.detailed }}">
								<h1 ng-bind="movie.title"></h1>
								<div ng-bind="movie.synopsis"></div>
								<br>
								<hr>
							{% endraw %}
				  </div>
				</div>
			</div>
		</div>

		<div class="center" ng-show="display.rss">
			<div data-toggle="table" data-url="data1.json" data-cache="false" data-height="299" class="table condensed">
				<div>
					{% raw %}

					<div ng-repeat="rss in rssData | filter:searchText">
						<div ><a href="{{rss.link}}"><img class="imgs" ng-src="{{rss.thumbnail}}"></a></div>
						<br>
						<div ng-bind="rss.title"></div>
						<br>
						<hr>
					</div>
					{% endraw %}
				</div>
			</div>
		</div>

		<!-- <div ng-show="showNone" class="alert alert-danger" ng-bind="messages.noneFound"></div> -->

	</body>

	<div id="footer">
		<p class="pull-right">
			 Movie <b>search<b>
		</p>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="static/js/ms_controller.js"></script>
	<script src="static/js/ms_services.js"></script>

</html>
